// COLORS
$primary-color: #373838;
$secondary-color: #423e3e;

$white-color: #0c0b0b;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #e5e4ed; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
